[submodule "StraitXPackages/Base"]
	path = StraitXPackages/Base
	url = git@github.com:StraitX/Base.git
[submodule "StraitXPackages/ImGui"]
	path = StraitXPackages/ImGui
	url = git@github.com:StraitX/ImGui.git
